:root{
    --main-bg: #233B3B;
    --main-navbar: #3F8A8A;
    --main-text-color: #DAE8E8;
    --main-anchor-background: #48bd6f31;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Muli', sans-serif;
    background-color: var(--main-bg);
}

#navbar{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-left: 10px;
    background-color: var(--main-navbar);
}

#navbar > ul{
    margin: 20px;
    margin-right: 50px;
}

#navbar > ul > li{
  font-size: 1.5rem;
  display: inline-block;
  padding-right: 20px;
}

#navbar a{
    text-decoration: none;
    color: var(--main-text-color)
}

#navbar a:hover{
    background-color: var(--main-anchor-background);
    cursor: pointer;
    padding: 10px;
    font-size: 105%;
    border-radius: 15%;
    border: 2px solid black;
}

.members .section-title{
    font-family: "Space Mono", monospace;
    padding-top: 90px;
    padding-left: 10px;
}
.members{
    padding-left: 10px;
    margin-left: 20px;
    color: var(--main-text-color)
}

.members img{
    width: 100px;
}

.about{
    font-family: "Space Mono", monospace;
    margin-top: 20px;
    margin-left: 275px;
    color: var(--main-text-color)
}

.about .section-title{
    padding-bottom: 20px;
}